.theme-catppuccin {
    --cm-background:   #1e1e2e;
    --cm-foreground:   #cdd6f4;
    --cm-cursor:       #f5c2e7;
    --cm-selection:    #313244;
    --cm-activeLine:   #28283d;
    --cm-gutter:       #585b70;

    --cm-h1:           #f5c2e7;
    --cm-h2:           #cba6f7;
    --cm-h3:           #89b4fa;
    --cm-h4:           #89dceb;
    --cm-h5:           #a6e3a1;
    --cm-h6:           #f9e2af;

    --cm-strong:       #cdd6f4;
    --cm-emphasis:     #cdd6f4;
    --cm-deleted:      #f38ba8;
    --cm-monospace:    #a6e3a1;
    --cm-link:         #89b4fa;
    --cm-url:          #74c7ec;
    --cm-quote:        #a6adc8;
    --cm-list:         #f38ba8;
    --cm-punctuation:  #585b70;

    --cm-foldMarker:       #585b70;
    --cm-foldMarkerHover:  #f5c2e7;
}