.theme-dracula {
    --cm-background:   #282a36;
    --cm-foreground:   #f8f8f2;
    --cm-cursor:       #ff79c6;
    --cm-selection:    #44475a;
    --cm-activeLine:   #44475a;
    --cm-gutter:       #6272a4;

    --cm-h1:           #ff79c6;
    --cm-h2:           #bd93f9;
    --cm-h3:           #8be9fd;
    --cm-h4:           #50fa7b;
    --cm-h5:           #ffb86c;
    --cm-h6:           #ff5555;

    --cm-strong:       #f8f8f2;
    --cm-emphasis:     #f8f8f2;
    --cm-deleted:      #ff5555;
    --cm-monospace:    #50fa7b;
    --cm-link:         #8be9fd;
    --cm-url:          #ffb86c;
    --cm-quote:        #6272a4;
    --cm-list:         #ff5555;
    --cm-punctuation:  #6272a4;
}